/* Cleaned up for Tailwind */

/* Custom Date Picker Icon Color */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(36%) sepia(70%) saturate(883%) hue-rotate(186deg) brightness(97%) contrast(92%);
    /* Approximate Blue-600 */
    cursor: pointer;
}
